VITE_SUPABASE_URL=https://fpdchkwrnmlivobvxrhq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZwZGNoa3dybm1saXZvYnZ4cmhxIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTY2NjA0ODksImV4cCI6MjAxMjIzNjQ4OX0.oPBGFfXLt_WWwUmyEpWZukdk-6SvEZ8P5fd9hb3eWK8

